<span class="timer-name">
  SIMPLE TIMER
</span>
<span class="timer-descr">
      Hi! I`m just a timer.
</span>
  <div class="timer-inner-wrapper mat-elevation-z6">

    <div class="timer-content"> {{ timeElapsedInSeconds | timeFormatPipe}} </div>

  <div class="controls">
    <button class="timer-button mat-elevation-z6"
            matTooltip="Timer will be set to 00:00:00 and stopped"
            (click)="resetTimer()">Reset</button>
    <button class="timer-button mat-elevation-z6"
            matTooltip="{{getStartStopTooltip()}}"
            [ngStyle]="{'background-color': isStop || isWait? 'var(--btn-accent-color)' : 'var(--accent-color)'}"
            (click)="checkStartStopTimer()">{{isWait || isStop ? "Start":"Stop"}}</button>
    <button class="timer-button mat-elevation-z6"
            matTooltip="Click button two times with interval < 300 ms"
            (click)="waitTimer()">Wait</button>
  </div>
  </div>
