

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
:root {
    --main-background-color: #b3e5fc;
    --accent-color: #0492c2;
    --popup-color: #4f97a3;
    --btn-accent-color: #111e6c;
}
:host {
    height: 100%;
}
